{{define "visited-places/partial-places.html"}}

{{range .locations}}
            {{if .Last}}
            <tr hx-get="/visited-locations/?page={{$.page}}" hx-trigger="revealed" hx-swap="afterend">
                <th scope="row">{{.Id}}</th>
                <td>{{.Name}}</td>
                <td>{{.Date}}</td>
            </tr>
            {{else}}
            <tr>
                <th scope="row">{{.Id}}</th>
                <td>{{.Name}}</td>
                <td>{{.Date}}</td>
            </tr>
{{end}}
{{end}}
{{end}}
